<h1>Contact</h1>
<p>Vivamus mollis velit id turpis feugiat varius. Ut feugiat, ex condimentum aliquet maximus, felis odio egestas lorem,
    sed imperdiet ligula nisi quis justo. Pellentesque volutpat nisi at ligula lacinia eleifend tempor mattis augue.
    Etiam nec ante pretium, consectetur dui quis, molestie neque. </p>
<div class="row mb-3">
    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
    <div class="col-sm-10">
        <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">
    </div>
</div>
<div class="row mb-3">
    <label for="colFormLabel" class="col-sm-2 col-form-label">Your E-mail</label>
    <div class="col-sm-10">
        <input type="email" class="form-control" id="colFormLabel" placeholder="col-form-label">
    </div>
</div>