<div class="container-fluid bg-body">
<div class="container">
    <div class="row">
        <div class="col-9">
            <h1><b>This First Heading</b> Will Catch Your Eye</h1>
            <p>Vestibulum libero nunc, dictum non arcu sit amet, accumsan ullamcorper velit. Donec in eleifend dolor.
                Fusce in quam ut nunc ultricies dapibus at nec justo. Donec rhoncus mollis massa, ut suscipit purus
                ultricies quis.
                Nullam feugiat dapibus massa, vitae accumsan leo accumsan quis.</p>
        </div>
        <div class="col-3">
            <div class="bg-info rounded-circle overflow-hidden">
                <img src="https://cdn-icons-png.flaticon.com/512/3577/3577429.png" alt="" width="100%" height="100%">
            </div>
        </div>
    </div>
</div>
</div>