<div class="container-fluid"
    style="background-image: url('https://img.freepik.com/fotos-premium/colorido-fantasia-naturaleza-paisaje-arte-digital-sitio-web-vibrante-banner-paisajes-generados-ai_467123-10776.jpg'); background-size: cover; background-position: center; height: 100vh;">
    <div class="pt-5">
        <div class="bg-body p-2">
            <h1 class="text-center " style="font-size: 60px;">One Page Wonder</h1>
        </div>
        <div class="bg-body p-2 mt-2">
            <h1 class="text-center " style="font-size: 40px;">Will Knock Your Socks Off</h1>
        </div>
    </div>
</div>